header{
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}
.nav-link.btn-inicio {
    background-color: #0cc0df !important; /* Color de fondo con prioridad */
    color: black !important; /* Color del texto con prioridad */
    padding: 8px 16px; /* Espaciado para que se vea como un botón */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Quitar subrayado */
    display: inline-block; /* Comportamiento de botón */
}
/*Primera barra informativa*/
.top-bar {
    /*colores cambiados*/
    background: linear-gradient(90deg, #2d2c7f, #493092, #b84466, #ed7a30, #ff1d06);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}
.top-bar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}
/*Barra de navegación*/

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-donar {
    background-color: #ff3333;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.btn-donar:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    background-color: #5056e9;
}






.icono-articulos{
    text-align: center;
    margin: 0 0 10px 0;
    color: #e61a24;
}

.texto-tarjeta-articulos{
    text-align: center;
    height: 200px;
    max-height: 30%;
    border-radius: 20px;
}

/*Información noticias*/
.contenedor-articulos{
    padding: 3% 20% 3% 20%;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}

/* Información artículos */

.contenedor-articulos {

    padding: 3% 20% 3% 20%; /* Ajusta el padding izquierdo */
    position: relative;
    left: 20px;
    width: 100%;
    height: auto;
    color: black; /* Cambiado a negro para el texto */
    text-align: center;
}

.contenedor-articulos h2 {
    font-family: 'Arial Black';
}

.tarjeta-articulos {
    width: 90%;
    height: auto; /* Altura automática */
    border-radius: 20px;
    color: black;
    position: relative;
    overflow: hidden;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    margin-bottom: 20px; /* Añadido margen inferior */
}

.tarjeta-articulos:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    opacity: 0.95; /* Efecto de opacidad en hover */
}

.tarjeta-articulos img {
    width: 100%;
    height: auto; /* Altura automática */
    max-height: 500px; /* Máxima altura */
    object-fit: cover;
}

.texto-tarjeta-articulos {
    height: auto; /* Ajuste automático */
    max-height: 30%;
}


/*Pié de páginas*/
footer{
    width: 100%;
    position: relative;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /*sombra*/
}

/*media para logo footer*/
@media (max-width: 767px) {
    #footer-id {
        position: relative;
        bottom: 25px;
    }
    #footer-logo  {
        height: 150px;
    }
}

@media (max-width: 1177px){

}




.social-menu {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 998;
    width: 280px; /* Aumenta el tamaño del menú */
}

#closeMenu {
    position: absolute;
    top: 10px; /* Posiciona la X más arriba */
    right: 10px; /* Posiciona la X a la derecha */
    font-size: 28px; /* Aumenta el tamaño de la X */
}

.social-icons a {
    margin: 0 15px;
}

.social-icons i {
    transition: transform 0.2s ease;
}

.social-icons i:hover {
    transform: scale(1.4); /* Agranda los iconos al hacer hover */
}





