header{
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

/*Primera barra informativa*/
.top-bar {
    /*colores cambiados*/
    background: linear-gradient(90deg, #2d2c7f, #493092, #b84466, #ed7a30, #ff1d06);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.top-bar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}


/*Barra de navegación*/

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
}

.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn-donar {
    background-color: #ff3333;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.btn-donar:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    background-color: #5056e9;
}


/*Apartado como ayudar*/

.como-ayudar-container{
    width: 100%;
    padding: 18% 5% 5% 5%;
    height: auto;
    background-color: #0cc0df;
}

.item-como-ayudar{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    margin: 10px;
}


/*Pié de páginas*/
footer{
    width: 100%;
    position: relative;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /*sombra*/
}

/*media para logo footer*/
@media (max-width: 767px) {
    #footer-id {
        position: relative;
        bottom: 25px;
    }
    #footer-logo  {
        height: 150px;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 6em; /* Tamaño de fuente reducido para móviles */
    }
}


/*Contenido*/

.title {
    font-size: 4.0em; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    margin: 60px 0; /* Margen superior e inferior */
    text-align: center; /* Centra el título */
    z-index: 10; 
    position: relative; 
    right:9%;
    font-weight: 900; /* Ajusta el grosor del texto */
}

.opciones-como-ayudar {
    display: flex; /* Usa flexbox para alinear las imágenes */
    justify-content: space-between; /* Espacio entre las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan si hay poco espacio */
}

.item-como-ayudar {
    width: 48%; /* Asegúrate de que quepan dos en una fila */
    height: 250px; /* Ajusta la altura a 250px para imágenes más grandes */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    border-radius: 10px; /* Borde redondeado si lo deseas */
    display: flex; /* Flexbox para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.item-como-ayudar img {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: 100%; /* Altura del contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.parrafo1 {
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 160%;
    text-align: flex;
    font-kerning: none;
    text-decoration: none;
    width: 60%;
    position: relative;
    left: 8%;
}