/* Estilos generales */
body {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

/*------------------*/
.top-bar {
  /*colores cambiados*/
  background: linear-gradient(90deg, #2d2c7f, #493092, #b84466, #ed7a30, #ff1d06);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  
}

/*No olvidar navbar*/
@media(max-width: 1200px){
  .btn.donar {
      width: 10;
  }
}

/*media para logo footer*/
@media (max-width: 767px) {
  #footer-id {
      position: relative;
      bottom: 25px;
  }
  #footer-logo  {
      height: 150px;
  }
}

.btn-donar {
  background-color: #ff3333 !important;
  color: white !important;
  padding: 8px 20px;
  margin: 0px 30px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
footer{
  width: 100%;
  position: relative;
  margin-top: auto;
  position: relative;
  top: 200px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /*sombra*/
}
.top-bar a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra hacia abajo */

}

/*------------------*/

.top-bar a:hover {
  color: #e8491d;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Aumenta el ancho máximo para pantallas pequeñas */
  width: auto; /* Asegúrate de que ocupe todo el ancho disponible */
  margin: 20px auto; /* Añade un margen superior para separación */
  position: relative;
  top: 165px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.container-principal{
  max-width: 100%;
}

.container-doble{
  max-width: 100%;
  display:flex; /*Alineación de contenido en horizontal*/
  justify-content: center; /*Centrar todo el con*enido dentro del container*/
  gap: 20px; /*Agregar separación entre el contenido*/
}

.subcontainer{
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

#btn-enviar {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto; /* Margen desde la parte superior */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Ancho de 90% de la pantalla */
    max-width: 700px; /* Ajusta este valor para hacerlo más estrecho */
    height: 80%; /* Altura del modal */
    overflow-y: auto; /* Permite desplazamiento dentro del modal */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container{
  flex-grow :1;
}



.no-scroll {
    overflow: hidden; /* Desactiva el desplazamiento */
}


.btn-donar:hover {
    background-color: #e30f0f; /* Color más oscuro al pasar el cursor */
}
@media (max-width: 991px) {
    .btn-donar {
        margin: 20px auto; /* Centrar el botón y añadir margen superior e inferior */
        display: block; /* Asegúrate de que se comporta como bloque */
    }
}
@media (max-width: 319px) {
    form {
        position: relative;
        top: 220px; 
    }
}
@media (max-width: 768px) {
  .container-doble{
    display:flex; /*alinea el etipo de documento y numero de donacion en columna cuando la pantalla sea mas chica*/
    flex-direction: column;
  }
}
@media (max-width: 993px) {
    form {
        position: relative;
        top: 190px; 
    }
}


/* ... Otros estilos ... */

/* Estilos para el mensaje de éxito */
.success-message {
  background-color: #d4edda; /* Color de fondo */
  color: #155724; /* Color del texto */
  padding: 15px;
  border: 1px solid #c3e6cb; /* Borde */
  border-radius: 5px;
  margin-top: 15px;
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.5s ease-in-out; /* Transición suave */
}

/* Clase para mostrar el mensaje */
.success-message.show {
  opacity: 1; /* Muestra el mensaje */
}

.hidden {
  display: none; /* Ocultar el elemento */
}

